<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Fund</title>
    <link rel="stylesheet" th:href="@{/css/create_fund.css}">
</head>
<body>
    <div class="form-container">
        <h1>Create New Fund</h1>
        <form action="/funds" th:object="${investment}" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" step="0.01" id="amount" th:field="*{amount}" required>
            </div>
            <button type="submit">Save Fund</button>
        </form>
        <br>
        <a href="/funds">Back to List</a>
    </div>
</body>
</html>
